<a href="https://colab.research.google.com/github/hatkiet/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ["EIN"]
application_df = application_df.drop(columns = columns_to_drop)

# Verify
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column by using 'nunique()'.
print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts to identify and replace with "Other"
name_counts = application_df["NAME"].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value (i.e., 500) and create a list of names to be replaced
# use the variable name `name_to_replace`
name_to_replace = list(name_counts[name_counts < 5].index)

# Replace in dataframe
for name in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [6]:
# Again, determine the number of unique values in each column by using 'nunique()'.
print(application_df.nunique())

NAME                       403
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value (i.e., 500) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_more_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_more_than_1)
print(f"Length: {len(classification_counts_more_than_1)}")

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64
Length: 45

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_application_df = pd.get_dummies(application_df)
numeric_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [13]:
# # Split our preprocessed data into our features and target arrays #Refs: Module 21/day2/Act06-07
y = numeric_application_df["IS_SUCCESSFUL"].values
X = numeric_application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [14]:
# Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep learning neural network, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="tanh"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                35760

 dense_1 (Dense)             (None, 80)                6480

 dense_2 (Dense)             (None, 80)                6480

 dense_3 (Dense)             (None, 1)                 81

=================================================================
Total params: 48801 (190.63 KB)
Trainable params: 48801 (190.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.4651 - accuracy: 0.7772
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4319 - accuracy: 0.7935
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4268 - accuracy: 0.7951
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4250 - accuracy: 0.7954
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4228 - accuracy: 0.7968
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4219 - accuracy: 0.7988
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4205 - accuracy: 0.7982
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4205 - accuracy: 0.7969
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4192 - accuracy: 0.8005
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4186 - accuracy: 0.7988
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4181 - accuracy: 0.7981
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4168 - accuracy: 0.7996
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4166 - accuracy: 0.8003
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4162 - accuracy: 0.7995
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4156 - accuracy: 0.8007
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4150 - accuracy: 0.8022
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.8015
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.8018
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4137 - accuracy: 0.8010
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4136 - accuracy: 0.8010
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4127 - accuracy: 0.8023
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4122 - accuracy: 0.8026
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4121 - accuracy: 0.8026
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4110 - accuracy: 0.8024
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4113 - accuracy: 0.8025
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4105 - accuracy: 0.8015
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4105 - accuracy: 0.8037
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4104 - accuracy: 0.8037
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4087 - accuracy: 0.8042
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4091 - accuracy: 0.8044
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4082 - accuracy: 0.8047
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4085 - accuracy: 0.8039
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4085 - accuracy: 0.8035
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4079 - accuracy: 0.8036
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4078 - accuracy: 0.8042
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4079 - accuracy: 0.8047
Epoch 37/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4074 - accuracy: 0.8054
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8049
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4067 - accuracy: 0.8056
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4072 - accuracy: 0.8047
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4066 - accuracy: 0.8050
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4059 - accuracy: 0.8057
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4063 - accuracy: 0.8054
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4061 - accuracy: 0.8049
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4057 - accuracy: 0.8061
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4059 - accuracy: 0.8053
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4055 - accuracy: 0.8053
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4058 - accuracy: 0.8047
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4051 - accuracy: 0.8064
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4045 - accuracy: 0.8049
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4045 - accuracy: 0.8056
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4043 - accuracy: 0.8055
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4047 - accuracy: 0.8060
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4034 - accuracy: 0.8063
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4045 - accuracy: 0.8057
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4039 - accuracy: 0.8057
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4039 - accuracy: 0.8066
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4040 - accuracy: 0.8059
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4033 - accuracy: 0.8059
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4033 - accuracy: 0.8073
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4037 - accuracy: 0.8064
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4037 - accuracy: 0.8063
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4033 - accuracy: 0.8059
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4039 - accuracy: 0.8058
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4033 - accuracy: 0.8055
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4030 - accuracy: 0.8069
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4027 - accuracy: 0.8058
Epoch 68/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4022 - accuracy: 0.8061
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4024 - accuracy: 0.8058
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4029 - accuracy: 0.8059
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4022 - accuracy: 0.8074
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4015 - accuracy: 0.8071
Epoch 73/100
804/804 [==============================] - 4s 6ms/step - loss: 0.4023 - accuracy: 0.8068
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4016 - accuracy: 0.8073
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8074
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4021 - accuracy: 0.8080
Epoch 77/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4019 - accuracy: 0.8075
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4014 - accuracy: 0.8071
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4015 - accuracy: 0.8070
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4019 - accuracy: 0.8072
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4013 - accuracy: 0.8078
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4018 - accuracy: 0.8061
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4013 - accuracy: 0.8075
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4016 - accuracy: 0.8070
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4009 - accuracy: 0.8078
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4005 - accuracy: 0.8058
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4013 - accuracy: 0.8079
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4012 - accuracy: 0.8072
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4008 - accuracy: 0.8080
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4012 - accuracy: 0.8068
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4005 - accuracy: 0.8073
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4010 - accuracy: 0.8073
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4009 - accuracy: 0.8075
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4016 - accuracy: 0.8075
Epoch 95/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4007 - accuracy: 0.8080
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4008 - accuracy: 0.8080
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4004 - accuracy: 0.8080
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4011 - accuracy: 0.8078
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4009 - accuracy: 0.8077
Epoch 100/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4006 - accuracy: 0.8081

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4488 - accuracy: 0.7971 - 552ms/epoch - 2ms/step
Loss: 0.44878488779067993, Accuracy: 0.7970845699310303

In [19]:
# Export our model to HDF5 file
nn_model.save("./Callbacks_Opt_4/AlphabetSoupCharity_Optimization_4.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(